<!DOCTYPE html>
<html>
<head>
<title>{{  inventory_hostname.split(".")[0] | upper }}</title>
<meta name="viewport" content="initial-scale=1, minimum-scale=1, width=device-width">
<link rel='shortcut icon' href='resources/favicon.ico' type='image/x-icon' />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/v4-shims.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="resources/css/landing.css">
</head>
<body>
<div id="topBar"></div>
<img src="resources/dhis2-logo-rgb-positive.png" style="width:150px;margin-left:15px;float:left;margin-right: 20px;margin-top:-10px;">
<div id="container">

<h2 style="float: left;margin-top: 0;">DHIS 2 {{ inventory_hostname.split(".")[0] | lower }}</h2>

<div class="intro">The following DHIS 2 instances are available on this server:</div>

<table style="width: 100%">
<tr>
  <th></i></th>
  <th style="width: 28%">Service</th>
  <th style="width: 65%">Description</th>
  <th style="width: 65%">Logs</th>
</tr>


<!-- BEGIN DHIS2-INSTANCES -->
<!-- END DHIS2-INSTANCES -->

<!--
<tr>
  <td><i class="fa fa-bar-chart"></i></td>
  <td><a href="http://play.dhis2.org/portal">Portal demo</a></td>
  <td>Demo of a Web portal using DHIS 2 visualization plugins</td>
  <td></td>
</tr>
-->
<tr>
  <td><i class="fa fa-stethoscope"></i></td>
  <td>
    <a href="/prometheus/">Prometheus</a><br>
    <a href="/grafana/">Grafana</a></td>
  <td>Performance monitoring with Prometheus and Grafana</td>
  <td></td>
</tr>
</table>

<div class="intro">Other links:</div>

<table style="width: 100%">
<tr>
  <th></i></th>
  <th style="width: 28%">Service</th>
  <th style="width: 65%">Description</th>
</tr>
<tr>
  <td><i class="fa fa-refresh"></i></td>
  <td><a href="http://ci.dhis2.org">Continuous integration</a></td>
  <td>Continuous integration for latest builds of DHIS 2 versions</td>
</tr>
  <tr>
  <td><i class="fa fa-graduation-cap"></li></td>
  <td><a href="https://training.dhis2.org">Academy training</a></td>
  <td>Moodle instance for academy training material and tests</td>
</tr>
<tr>
  <td><i class="fa fa-bug"></i></td>
  <td><a href="https://jira.dhis2.org">Jira issue tracking</a></td>
  <td>Tracking for DHIS 2 bug reports and feature requests</td>
</tr>
<tr>
  <td><i class="fa fa-paper-plane-o"></i></td>
  <td><a href="https://play.dhis2.org/appstore">App Hub</a></td>
  <td>App Hub for DHIS 2 web apps</td>
</tr>
</table>

</div>
</body>
</html>
