<!DOCTYPE html>
<html>
<head>
<title>{{  inventory_hostname.split(".")[0] | upper }}</title>
<meta name="viewport" content="initial-scale=1, minimum-scale=1, width=device-width">
<link rel='shortcut icon' href='resources/favicon.ico' type='image/x-icon' />
<link href="https://unpkg.com/tabulator-tables@4.5.3/dist/css/materialize/tabulator_materialize.min.css" rel="stylesheet">
<link href="resources/css/landing.css" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.5.3/dist/js/tabulator.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/v4-shims.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body >
<div id="topBar"></div>
<img src="resources/dhis2-logo-rgb-positive.png" style="width:150px;margin-left:15px;float:left;margin-right: 20px;margin-top:-10px;">
<div id="container">

<h2 style="float: left;margin-top: 0;">DHIS 2 {{ inventory_hostname.split(".")[0] | lower }}</h2>

<div class="intro">The following DHIS 2 instances are available on this server:</div>

<div id="instance-table"></div>
<br><br>

<div class="intro">Other links:</div>

<table style="width: 100%">
<tr>
  <th></i></th>
  <th style="width: 28%">Service</th>
  <th style="width: 65%">Description</th>
</tr>
<tr>
  <td><i class="fa fa-stethoscope"></i></td>
  <td>
    <a href="/glowroot/">Prometheus</a>
  </td>
  <td>Performance monitoring with Glowroot</td>
</tr>
</table>

</div>
</body>
<script>
    var notoggle = true;
    //Build Tabulator
    var cachebust = new Date().getTime();
    var table = new Tabulator("#instance-table", {
    ajaxURL:"/instance_facts.json?v="+cachebust,
    ajaxResponse:function(url, params, response){
        //url - the URL of the request
        //params - the parameters passed with the request
        //response - the JSON object returned in the body of the response.
        return Object.values(response); //return the tableData property of a response json object
    },

    layout:"fitColumns",
	  height:"100%",
    //resizableColumns:false,
    placeholder:"No Data Set",
    columns:[
{title:"Age", field:"war_date", formatter:"datetimediff", width:100, formatterParams:{
    inputFormat:"YYYY-MM-DD",
    humanize:true,
    invalidPlaceholder:"(invalid date)",
}},
// {title:"Owner", field:"installed_by", sorter:"string"},
 {title:"Description", field:"description", sorter:"string", width:570},
 {title:"Name", field:"name", sorter:"string", width:210}

  	],
    initialSort:[
        {column:"war_date", dir:"desc"}, //sort by this first
    ],
    rowFormatter:function(row){
        var element = row.getElement(),
        data = row.getData(),
        rowTable, cellContents;
        while(element.firstChild) element.removeChild(element.firstChild);

        //define a table layout structure and set width of row
        rowTable = document.createElement("div")
        rowTable.style.width = "100%";

				var catlink = "<a class=\"log\" href=\"https://logs.dhis2.org/app/infra#/logs?_g=()&logFilter=(expression:'host.name:{{ inventory_hostname.split(".")[0] | lower }} and source:/" + data.name + "/',kind:kuery)\">catalina.out</a>";
				var nlink = "<a class=\"log\" href=\"https://logs.dhis2.org/app/infra#/logs?_g=()&logFilter=(expression:'host.name:{{ inventory_hostname.split(".")[0] | lower }} and source:*nginx* and message:/" + data.name + "/',kind:kuery)\">nginx</a>";
        var dicon = "<img src=\"resources/dhis2-icon-rgb-positive.png\" style=\"width:22px;\"> "

        cellContents =  "<div class=\"base\">"
        cellContents +=  "<div class=\"container_b\">"
        cellContents += "<div class=\"inst_icon\">" + dicon + "</div>"
        cellContents += "<a href=\"https://{{ inventory_hostname }}/" + data.name + "\" class=\"instance\">" + data.name + "</a>"
        cellContents += "<div class=\"description\">" + data.description + "</div>"
        // cellContents += "<div class=\"label agel age\">deployed</div>"
        cellContents += "<div class=\"aget age\">" + moment().from(data.war_date+"+00",true) + "</div>"

        cellContents +=  "</div></div><div class=\"details\">"
        cellContents +=  "<div class=\"container_d\">"
        cellContents += "<div class=\"label war\">war: </div>"
        cellContents += "<div class=\"file war\">" + data.war_file + "</div>"
        cellContents += "<div class=\"date war\">" + new Date(data.war_date).toLocaleString() + "</div>"
        cellContents += "<div class=\"label db\">database: </div>"
        cellContents += "<div class=\"file db\">" + data.db_demo + "</div>"
        cellContents += "<div class=\"date db\">" + new Date(data.db_date).toLocaleString() + "</div>"
        cellContents += "<div class=\"label installer\">owner: </div>"
        cellContents += "<div class=\"file installer\">" + data.installed_by + "</div>"
        cellContents += "<div class=\"label logs\">logs: </div>"
        cellContents += "<div class=\"file logs\">" + catlink + nlink+ "</div>"
        cellContents += "<div class=\"attributes\"><span class=\"attribute\">postgresql-10</span><span class=\"attribute\">tomcat-8.5.50</span><span class=\"attribute\">jvm-8</span></div>"
        cellContents += "</div></div>"

        rowTable.innerHTML = cellContents;

        // rowTable.appendChild(rowTabletr);

        //append newly formatted contents to the row
        element.appendChild(rowTable);
    },
    renderComplete:function(){
      if (notoggle){
        $(function() {
          $(".base").on( "click", function() {
            $(this).next().slideToggle(400);
            $expand = $(this).find(">:first-child");
          });
        });
        notoggle = false;
      }
    },

});


 </script>


</html>
