# Module: envoyproxy
# Docs: https://www.elastic.co/guide/en/beats/metricbeat/6.5/metricbeat-module-envoyproxy.html

{% if module_configuration is defined and (module_configuration | selectattr("module", "match", "envoyproxy") | list | length)  %}
{# Module custom settings #}
{{ module_configuration | selectattr("module", "match", "envoyproxy") | list | to_nice_yaml }}
{% else %}
{# Module default settings #}
- module: envoyproxy
  #metricsets:
  #  - server
  period: 10s
  hosts: ["localhost:9901"]
{% endif %}
