# Module: haproxy
# Docs: https://www.elastic.co/guide/en/beats/metricbeat/6.5/metricbeat-module-haproxy.html

{% if module_configuration is defined and (module_configuration | selectattr("module", "match", "haproxy") | list | length)  %}
{# Module custom settings #}
{{ module_configuration | selectattr("module", "match", "haproxy") | list | to_nice_yaml }}
{% else %}
{# Module default settings #}
- module: haproxy
  #metricsets:
  #  - info
  #  - stat
  period: 10s
  hosts: ["tcp://127.0.0.1:14567"]
{% endif %}
