# Module: postgresql
# Docs: https://www.elastic.co/guide/en/beats/metricbeat/6.5/metricbeat-module-postgresql.html

{% if module_configuration is defined and (module_configuration | selectattr("module", "match", "postgresql") | list | length)  %}
{# Module custom settings #}
{{ module_configuration | selectattr("module", "match", "postgresql") | list | to_nice_yaml }}
{% else %}
{# Module default settings #}
- module: postgresql
  #metricsets:
  #  - database
  #  - bgwriter
  #  - activity
  period: 10s
  hosts: ["postgres://localhost:5432"]
  #username: user
  #password: pass
{% endif %}
