# Module: rabbitmq
# Docs: https://www.elastic.co/guide/en/beats/metricbeat/6.5/metricbeat-module-rabbitmq.html

{% if module_configuration is defined and (module_configuration | selectattr("module", "match", "rabbitmq") | list | length)  %}
{# Module custom settings #}
{{ module_configuration | selectattr("module", "match", "rabbitmq") | list | to_nice_yaml }}
{% else %}
{# Module default settings #}
- module: rabbitmq
  #metricsets:
  #  - node
  #  - queue
  #  - connection
  period: 10s
  hosts: ["localhost:15672"]
  #username: guest
  #password: guest
{% endif %}
